<div class="container">
    <div class="row">
        <div class="col-md-1">
            <a [routerLink]="['/restaurante/cadastrar']"><button type="button" class="btn btn-info">Cadastrar</button></a>
        </div>
        <div class="col-md-5">
            <input class="form-control" #textoRestaurante (keyup)="0" placeholder="Consulta nome do restaurante" />

        </div>
    </div>

    <br />
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr class="active">
                            <th title="Número" class="text-center">Nº </th>
                            <th>Restaurantes</th>
                            <th class="text=center" class="text-center">Menu</th>
                        </tr>
                        <tr *ngFor="let restaurante of (restaurantes| filtroPorNome: textoRestaurante.value  )">
                            <td class="text-center">{{restaurante.id_restaurante}}</td>
                            <td>{{restaurante.nome_restaurante}}</td>
                            <td class="text-center">
                                <a [routerLink]="['/restaurante/alterar', restaurante.id_restaurante]"><button class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
                                <button class="btn btn-danger" (click)="excluir(restaurante)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>